/* 全局body,字体,字体色,背景色,内边距 */
body {
    font-family: 'Segoe UI';
    color: #333;
    background-color: #f4f4f9;
    padding: 20px;
}

h1 {
    background-color: #a5d0b8;
    border: 1px solid #2a9d35;
    border-radius: 8px;
    color: #040404;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 0;
}


/* 测试按钮 */
.controls {
    background-color: #ffbaa5;
    border: 1px solid #18461d;
    border-radius: 8px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1em;
}

button:hover {
    background-color: #062f5a;
}

/* app核心区 */
#app-container {
    background-color: #fff5d9;
    border: 1px solid #18461d;
    border-radius: 8px;
    padding: 10px;
}